
body{


  background: rgb(97, 117, 106);
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.subfooter{
  font-size: 20px;
  background-color:#9ceec0;
  color: black;
  text-align: center;
}

.footer{
  font-size: 16px;
  background-color:#64db8f;
  color:#fefefe;
  font-style: italic;
  text-align: center;
}

.mid{
  background-color: #9ceec0 ;
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 5px;
  padding-right: 5px;
  clip-path: circle();
  height: 120px;
text-align: center;

}


#cupcake-card{

padding-bottom: 12px;
padding-top: 52px;
padding: 1.9em;

}

/*Background Gradient Here*/

#hero {

text-align: center;

}

#SH-title{

letter-spacing: 0.18em;
padding-left: 50px;
}

.navbarNav{
text-align: center;


}




#Ingrid {
margin: auto;
  width: 600px;
padding-bottom: 20px;



}



.list-group{
text-align: center;
letter-spacing: 0.07em;
font-size: small;
}

#IngreditentsHeader{

text-align: center;
margin-top: 20% ;
}

a { color: white;}

a:hover {
color: rgb(50, 255, 156);

}

.card-title{


text-align: center;

}



.col-6 img{
margin: auto;

display: flex;
flex-direction: column;
border-radius: 10%;

margin-bottom: 20%;
padding-left: 33px;
padding-right: 20px;
}


#MT-Header{
margin-top:  12%;
text-align: center;
margin-bottom:  6px;

}