

body{

  background: rgb(97, 117, 106);
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.subfooter{
  font-size: 20px;
  background-color:#85755f;
  color: #85755f;
  text-align: center;
}

.footer {
  position: absolute;

  width:90%;
 
           /* Footer height */
}

.hero {

display: flex;
justify-content: center;
margin-top: 120px;

}
.hero img{

border-radius:16%;
padding: 13px;
}

.footer p {
  font-size: 11px;
  background-color:#85755f;
  font-style: italic;
color:  #363027;
  text-align: center;
  padding: 30px;
width: 115%;
}


.mid{
  background-color: #85755f ;
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 5px;
  padding-right: 5px;
  clip-path: circle();
  height: 120px;
text-align: center;

}

.btn-dark {

align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}


 

#cupcake-card{

padding-bottom: 12px;
padding-top: 52px;
padding: 1.9em;

}


#row2 {


border: 2px solid black;
}


/*Background Gradient Here*/

#hero {

text-align: center;


}



#SH-title{

letter-spacing: 0.18em;
padding-left: 50px;
}

.navbarNav{
text-align: center;


}


.card-body {


text-align: center;


}


#Menuline {


padding-top: 80px;
padding-bottom: 40px;

}



#Order-now a {

color: white;
text-decoration: none; /* gets rid of the underline on links on order now.*/}


.Order-Now-Titles {

text-align: center;
font-weight: lighter;
font-weight: 300;
letter-spacing: 0.088em;
}

.img-thumbnail{

width:80%;

}


#Order-now{

text-align: center;

}

#PLrow2 {
margin-top: 420px;


}

#hero2{
position: absolute;
margin-top: 150px;
color: #393232;

text-align: center;

}




.col-lg-3{


  padding: 30px;
}

/* About page Css  */

#BestSellers {

margin-top: 8rem;
text-align: center;
letter-spacing: 0.12em;
margin-bottom: 4rem;
}



.about-1{

margin-top: 120px;
text-align: center;
}

.HIS, .Brt{
line-height:2.5rem;


}


.Chl, .Wtn {


line-height: 2.1rem;
margin-top: 120px;

}



/* styling for all the about sections */

.abouthead {
display: flex;
justify-content: space-between;
justify-content: space-around;
  padding: 12px;
    margin-top: 40px;
  text-align: center;
  
  color: rgb(0, 0, 0);
  }


  .navbar{

display:flex ;
justify-content: center;
color: brown;
text-align: center;

  }




/* about section part 2  */

.container-3{
margin-top: 320px;
display: flex;

justify-content: space-evenly;
height: 30vh;

}


.card-title{


line-height: 1.2rem;
letter-spacing: 0.23rem;

}

.container-3 h3{

  text-align: center;

}

.container-3 p {

line-height: 2.45rem;
padding: 10px;

}

.wave{

    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: absolute;
    display: block;
    width: calc(170% + 1.3px);
    height: 500px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}



.profilepic{

border-radius: 50%;


}



.profilepic-card p {
  
background-color: #7a7a7a;
  border-radius: 12px;
 opacity: 88%;
text-align: center;
padding: 12px;
  }


.container-4  {

margin-top: 120px;

}

/* Menu Css */

.card-footer{

  text-align: center;
}

.card-footer a{
text-decoration: none;
color: #FFFFFF;
font-weight: 500;
letter-spacing: 0.23rem;
font-size: medium;
}

.menu-img{


padding: 50px;
border-radius: 25%;

}



