

body{

  background: rgb(97, 117, 106);
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.subfooter{
  font-size: 20px;
  background-color:#85755f;
  color: #85755f;
  text-align: center;
}


.hero {

display: flex;
justify-content: center;
margin-top: 120px;

}
.hero img{

border-radius:16%;
padding: 13px;
}

.footer p {
  font-size: 11px;
  background-color:#85755f;
  font-style: italic;
color:  #363027;
  text-align: center;
  padding: 30px;

}


.mid{
  background-color: #85755f ;
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 5px;
  padding-right: 5px;
  clip-path: circle();
  height: 120px;
text-align: center;

}

.btn-dark {

align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}


#Winter {

  border-radius: 20px;
  
  
  }
 

#cupcake-card{

padding-bottom: 12px;
padding-top: 52px;
padding: 1.9em;

}


#row2 {


border: 2px solid black;
}


/*Background Gradient Here*/

#hero {

text-align: center;


}



#SH-title{

letter-spacing: 0.18em;
padding-left: 50px;
}

.navbarNav{
text-align: center;


}


.card-body {
text-align: center;
}


#Menuline {


padding-top: 80px;
padding-bottom: 40px;

}



#Order-now a {

color: white;
text-decoration: none; /* gets rid of the underline on links on order now.*/}


.Order-Now-Titles {

text-align: center;
font-weight: lighter;
font-weight: 300;
letter-spacing: 0.088em;
}

.img-thumbnail{

width:80%;

}


#Order-now{

text-align: center;

}

#PLrow2 {
margin-top: 420px;


}

#hero2{
position: absolute;
margin-top: 150px;
color: #393232;

text-align: center;

}




.col-lg-3{


  padding: 30px;
}






.card-footer{

  text-align: center;
}

.card-footer a{
text-decoration: none;
color: #FFFFFF;
font-weight: 500;
letter-spacing: 0.23rem;
font-size: medium;
}

.menu-img{


padding: 50px;
border-radius: 25%;

}



