.cupcake{
width: 1240px;
height: 740px;
border-radius: 10px;



}

.buttonp{
text-align: center;
padding-top: 12px;


}

.img-thumbnail{




}


.subfooter{
  font-size: 20px;
  background-color:#9ceec0;
  color: black;
  text-align: center;
}

.footer{
  font-size: 16px;
  background-color:#64db8f;
  color:#fefefe;
  font-style: italic;
  text-align: center;
}


.center {

text-align: center: center;

}

.btn{

align-items: center;

}

.fw-light{
text-align:center;
font-family: arial;
font-size: 1.2em;
background-color:#9ceec0;

}

img{


float: center;

}
