.btn-dark {

    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    }
    

    button {

        text-align: center;
        


        a {

            color: rgb(255, 255, 255);
            text-decoration: none; /* gets rid of the underline on links on order now.*/}


            a:hover {
                color: rgb(255, 181, 157);

            }

/* There is a & with a :hover you can use to say esstentially and i want the hover on the link to turn red when hover. */
        }

      
$orange-color:#c86a00;
$orange2-color: #00f114;
// variables that live within this file. 


        .btn-newsletter {
            background-color: #6c2323;
            color: rgb(193, 34, 34);
            padding: 10px 10px;
            border: none;
            border-radius: 12px;
            font-size: 3px;
            transition: background-color 0.5s ease;
            // transition: font-size 0.5s ease;
            margin-top: 0px;
            margin-left: 38px;
          }


          button:hover {
            // background-color: #8e7d3e;
            font-size: 29px;
            color: black;
          }
          