
$orange-color: #c86a00;
$orange2-color: #00f114;

#Add-btn{
margin: 0;
text-align:center;
margin-bottom: 23px;
font-style: italic;

}

#add-to-order-btn {
  margin-top: 1.2rem;
  
text-align: center;
}

.btn-dark {
  //dark buttons
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

button {
  //aplies to all button classes.
  text-align: center;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* gets rid of the underline on links on order now.*/
  }

  a:hover {
    color: rgb(255, 181, 157);
    transition-duration: 200ms ease;
  }
  /* There is a & with a :hover you can use to say esstentially and 
  i want the hover on the link to turn red when hover. */
}

// variables that live within this file.
button:hover {
  // background-color: #8e7d3e;

  color: black;
}

#canva-head {
  height: auto;

  padding: 20px;

  .card {
    margin-bottom: 20px;
    padding: 20px;
  }
}

#canvas {
  border-radius: 60px;
  width: 280px;
  text-align: center;
}

.canva {
  padding: 50px;
  text-align: center;
}

#canvas:hover {
  color: black;
}
