#cupcake-card {

    padding-bottom: 12px;
    padding-top: 52px;
    padding: 1.9em;
    
}

.card {     



        h5 {
            
            text-align: center;
        }

            a {
                text-align: center;
                text-decoration: none;
                color: #ffb0b0;
                font-weight: 500;
                letter-spacing: 0.23rem;
                font-size: medium;
            }

                        img {
                            padding: 60px;
                            border-radius: 24%;
                        }

                                    footer {
                                        text-align: center;
                        }



                                            .card-text {
                                                    letter-spacing: 0.09rem;

                                               
                                            }




.card-title {

color:#ffb0b0;
letter-spacing: 0.15rem;

}

}
