.cupcakeline{


width: 200px;

}

#ccline {

display: flex;
justify-items: center;

}



.flavor-cupcake-img {

width: 25%;
border-radius: 60%;

}



.flavor-line-1 {
margin-bottom: 10%;
display: flex;
flex-direction: row;
justify-content: space-between;
justify-content: space-around;

}

.flavor-line-2 {
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    
    }