


$nav-link-color:#945959;
$nav-tabs-link-active-color:rgb(107, 79, 74);
$nav-link-disabled-color:rgb(84, 56, 38);
$nav-tabs-link-hover-border-color:#7a5237;
$nav-tabs-border-width:3px;
$nav-link-hover-color:#7a5237;



.nav{

    
    background-color: #d0ab7a;



a {


font-size: 27px;

}

}


.nav-tabs :active {

background-color: #f7dbb5;

}

.nav-tabs :disabled {

    background-color: #876e4a;
    
    }
    

   