


$nav-link-color:#945959;
$nav-tabs-link-active-color:rgb(107, 79, 74);
$nav-link-disabled-color:rgb(84, 56, 38);
$nav-tabs-link-hover-border-color:rgb(170, 133, 73);
$nav-tabs-border-width:2px;
$nav-link-hover-color:#fddde0;



.nav{

    
    background-color: #c49d6b;



a {


font-size: 27px;

}

}


.nav-tabs :active {

background-color: #f7dbb5;

}

.nav-tabs :disabled {

    background-color: #876e4a;
    
    }
    

   