
    .Order-Now-Titles {
    
        text-align: center;
        font-weight: lighter;
        font-weight: 200;
        letter-spacing: 0.188em;
        /*This is for the card titles on the index page with the order now title class*/ 
        }



