/* General styles for desktop or large screens */
body {
  font-size: 1em; /* Default size for larger screens */
}

/* Medium screens (tablets, large phones like iPhone 11) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for medium devices (tablets, large phones) */
.card-text{
text-align: center;
font-size: 2.0em

}

.card-title{

text-align: center;
    font-size: 2.4em;
}

    #SH-title {
        text-align: center;
        font-size: 2.0em; /* Slightly larger font for medium screens */
    }

    .nav-item {
        font-weight: 600;
        font-size: large;
        text-align: center;
    }

    .nav-item:hover {
        background-color: rgb(92, 86, 78);
        border-radius: 2%;
    }

    .socialicons {
        width:min-content;
    }

    .abouthead {
        font-size: 4.0em; /* Larger font for medium screens */
    }

    .about-paragraph {
        font-size: 3.0em; /* Increase paragraph size */
    }
}

/* Small screens (e.g., mobile devices like iPhone 11 in portrait mode) */
@media only screen and (max-width: 768px) {
    /* Styles for small mobile devices */

    #SH-title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;


    }

    .nav-item {
        font-weight: 600;
        font-size: xx-large;
        text-align: center;
    }

    .nav-item:hover {
        background-color: rgb(83, 78, 72);
        border-radius: 2%;
    }

    .socialicons {
        width: min-content;
    }

    .abouthead {
        font-size: 3.2em;
        margin-bottom: 1.2em;
    }

    .about-paragraph {
        font-size: 2.8em; /* Larger font for smaller devices */
        margin-bottom: 1.2em;
    }


    .card-text{
        text-align: center;
        font-size: 2.0em
        
        }
        
        .card-title{
        
        text-align: center;
            font-size: 2.4em;
        }

}



@media (max-width: 276px) {
    .navbar-toggler {
      margin-left: auto; /* Ensures it's always on the right */
    }
  }
  