#contactInfoRow {


// contact css for the row of info. 
}


.response-pic{
width: 50%;
border-radius: 30px;
margin-left: 20%;
padding: 20px;
// cupcake photo for "we take every respone"
}



#inputinfo{
height: max-content;
padding: 40px;




}


