.faq-container {
background-color: #ffe4c4a8;
height: 1200px;
margin-top: 5px;
}


.accordion-header{
font-size: 8px;
color: brown;
}

.accordion-button {
text-align: center;
    padding: 20px;
letter-spacing: 0.08rem;
font-size: 18px;
color: rgb(66, 50, 31);
font-family: 'Bebas Neue', 'Courier New', Courier, monospace;
font-weight: 100;
}


.accordion {
background-color: #58483421;

}




.FAQ-Header{
font-size:22.5px;
padding:40px;

}