.container-3{

flex-direction: row;
display: flex;
justify-content: space-around;
justify-content: space-between;
// displays paragraph content into row -grid and adds space between.
flex-wrap: nowrap;

p {

padding: 12px;

}





}


