.container-3{

flex-direction: row;
display: flex;
justify-content: space-around;
justify-content: space-between;
// displays paragraph content into row -grid and adds space between.
flex-wrap: nowrap;

p {

padding: 32px;

}





}


.contact-text{
font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
font-weight: 700;
color: #443b30;
text-align: center;


}

.about-paragraph{
    width:auto;
    background-color: #443b3027;
    padding: 42px;
    border-radius: 22px;

}