#breakdown {

display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 50px;
margin-top: 40px;
margin-bottom: 40px;
background-color: #eaddca;   
text-align: center;
border-radius: 65px;




img {


border-radius: 12px;
border: 2.8px solid rgb(109, 84, 59);

}




}



.container-breakdown {


    padding: 190px;
    
}