


.cart-table {
                
        margin: auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-table th, .cart-table td {
    padding: 22px;
    text-align: left;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .cart-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .cart-table tfoot td {
    font-weight: bold;
  }
  
  .cart-table tfoot tr:last-child {
    background-color: #f2f2f2;
  }