

.list-group{
    text-align: center;
    letter-spacing: 0.19em;
    font-size: small;
    /* Ingreditents on mint */
    padding-right: 120px;
    padding-left: 40px;
    
    }




#IngreditentsHeader{
    /* Mint ingreditents header */
    text-align: center;
    margin-top: 20% ;
    }
    
    a { color: white;}
    
    a:hover {
    color: rgb(50, 255, 156);
    
    }
    

    .footer{
        font-size: 16px;
        background-color:#9a7e58dd;;
        color:#fefefe;
        font-style: italic;
        text-align: center;
        margin-top: 300px;
      /* Mint Footer */
      
      }


      .subfooter{
        font-size: 20px;
        background-color:#be96628b;
        color: black;
        text-align: center;
    /*Mint SubFooter*/
      }
      

      #MT-Header{
        margin-top:  12%;
        text-align: center;
        margin-bottom:  6px;
        /* Mint Header */
        }


        #mintimg{
          padding: 60px;
          border-radius: 24%;
        }