
  

  
  #SH-title{
  
  letter-spacing: 0.18em;
  padding-left: 50px;
  }
  
  .navbarNav{
  text-align: center;
  
  
  }
  
  
  
  
  #Ingrid {
  margin: auto;
    width: 600px;
  padding-bottom: 20px;
  

  }
  
  
  
  .list-group{
  text-align: center;
  letter-spacing: 0.07em;
  font-size: small;
  }
  
  #IngreditentsHeader{
  
  text-align: center;
  margin-top: 20% ;
  }
  
 
  .col-6 img{
  margin: auto;
  
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  
  margin-bottom: 20%;
  
  
  }

  #VW-Header{
margin-top:  12%;
text-align: center;
margin-bottom:  6px;

  }